*{
    font-family: 'Righteous', cursive;
    text-align: center;
    background:rgb(0, 255, 47);
}
li{
    background: rgb(0, 255, 153);

}

#school-img{
    width: 451px;
}
#fitness-pic{
    width: 750px;
}
#intro-title{
    font-size: 75px;
    background: rgba(0, 128, 0, 0.588);
}
#goals{
    background: rgba(0, 128, 0, 0.588);
}
#ceritificates-title{
    background: rgba(0, 128, 0, 0.588);
}
a{
    color: black;
}